body{
  display:grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 10% 90%;
}
h1{
  grid-column: 2/3;
  grid-row: 1/2;
}
nav{
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: light-gray;
}
main{
  grid-column: 2/3;
  grid-row: 2/3;
}
li{
  list-style: none;
}
img{
  width:70%;
  min-width:250px;
}
#vueLogo{
  width:60%;
  min-width:50px;
}
/* コードorコマンド */
pre{
  padding-top:5px;
  padding-bottom:5px;
  background-color: lightgray;
}
/* 文章の段落(ブロック) */
.content{
  margin-bottom:3rem;
}
/* 行間 */
.content>p{
  line-height: 0.7;
}
